
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ID-edge">
    <meta name="description" content="Kesehatan mental menjadi prioritas">
    <meta name="keywords" content="Kesehatan Mental, Psikiater, Psikolog">
    <meta property="og:title" content="Situs Kesehatan Mental | Sanctuary">
    <meta property="og:description" content="Kesehatan mental menjadi prioritas">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Raleway:wght@300;400;500;600;700&family=Dancing+Script&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    <title>Situs Kesehatan Mental | Sanctuary</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/responsive.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body>
    <!--Header-->
    <header id="header" class="d-flex align-items-center">
        <div class="header__container d-flex align-items-center">
            <h1 class="logo"><a href="index.html">Sanctuary</a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="navbar-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="navbar-link scrollto" href="#locator">Locator</a></li>
                    <li><a class="navbar-link scrollto" href="#learn-more">Learn More</a></li>
                    <li><a class="navbar-link scrollto" href="#their-stories">Their Stories</a></li>
                    <li><a class="navbar-link scrollto" href="#aboutus">About Us</a></li> 
                    <li><a class="signin scrollto" href="">Sign In</a></li>
                    <li><a class="signup scrollto" href="">Sign Up</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <!--Hero-->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center text-md-left" data-aos="fade-up">
          <h1>Welcome to <span>Sanctuary</span></h1>
          <p>Together we are strong<br>a safe to learn, to find help, to be a part of the community</p>
          <a href="#learn-more" class="btn-read-more scrollto">Read More</a>
        </div>
    </section>
    <!--Main-->
    <main>
        <!--locator-->
        <div id=main-content class="feeds">
            <section id="locator" class="locator">
                <div class="container">
          
                    <div class="section-title">
                        <h2>Locator</h2>
                        <p>Locator is a tool to see recommendations for the location of the closest psychologist and psychiatrist to your location.</p>
                    </div>
                    <div class="maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>
                </div>
            </section>
    
            <!--Learn More-->
            <section id="learn-more" class="learn-more">
                <div class="container">
                    
                    <div class="section-title">
                        <h2>Learn More</h2>
                        <p>Mental health is importance because it affects everyting. It affects our ability to cope, adapt, and solve problems. 
                            <br>It also affects our ability to be happy, productive, and well adjuxted.</p>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../public/images/assets/learn-more.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                            <div>

                            </div>
                            <h3>Learn more about the importance of mental health</h3>
                            <p>
                                Kesehatan mental mempengaruhi emosional, psikologis, dan sosial.<br><br>
                                Learn more, disana kamu dapat menemukan hal yang ingin kamu pahami. Kamu dapat menemukan tentang peringatan dini akan kesehatan mental,
                                dimana kesehatan mental mempengaruhi cara kita berpikir, merasakan, dan berprilaku.
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circled"></i> Mengetahui gejala dini mental illness.</li>
                                <li><i class="bi bi-check-circled"></i> Membedakan Psikiater dan Psikolog.</li>
                                <li><i class="bi bi-check-circled"></i> Diagnosis Mental illness.</li>
                            </ul>
                            <p>
                                "Setiap masalah pasti punya solusi, jangan mudah menyerah dengan keadaan. Cobalah liat dunia
                                luar, lalu lihatlah kebawah kamu akan menemukan hal yang tidak pernah kamu duga. Jadi, hargailah
                                dan sanyangi dirimu sendiri."
                            </p>
                            <center>
                                <a href="" class="btn-go-to scrollto">Go to</a>
                            </center>
                        </div>
                    </div>
                </div>
            </section>
    
            <!--Their Stories-->
            <section id="their-stories" class="their-stories">
                <div class="container">
                    
                    <div class="section-title">
                        <h2>Their Stories</h2>
                        <p>Be a part of the community. Read inspiring stories about people from around the world dealing with mental illness.</p>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../public/images/assets/their-stories.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                            <h3>It is okay if you are hiding your feelings. We are here to help you.</h3>
                            <p>
                                Kamu dapat melihat kisah-kisah inspirasi yang dapat membangkitkan semangat dari keterpurukan. Mereka bercerita bagaimana cara mereka bisa bangkit dari keterpurukan.<br>
                                <br>Disini kamu dapat berbagi kisah bersama mereka. Melalui kisah yang kamu ceritakan bisa menjadi motivasi bagi mereka.
                            </p>
                            <center>
                                <a href="" class="btn-go-to scrollto">Go to</a>
                            </center>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <!--Footer-->
    <footer>
        <ul>
            <li><a href="https://www.linkedin.com/in/selvia-eldina-35840621b/">Copyright &copy; 2021 - <strong><span>Sanctuary</span></strong></a></li>
            <li>Together we are strong</li>
        </ul>
    </footer>
</body>
<script src="../scripts/index.js"></script>
</html>
