<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ID-edge">
    <meta name="description" content="Kesehatan mental menjadi prioritas">
    <meta name="keywords" content="Kesehatan Mental, Psikiater, Psikolog">
    <meta property="og:title" content="Situs Kesehatan Mental | Sanctuary">
    <meta property="og:description" content="Kesehatan mental menjadi prioritas">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"/>
    <title>Situs Kesehatan Mental | Sanctuary</title>
</head>
<body>
    <!--Header-->
    <header class="d-flex align-items-center">
        <div id="header" class="d-flex">
            <h1 class="logo"><a href="/">Sanctuary</a></h1>
            <div id="clear"> </div>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="navbar-link scrollto active" href="/">Home</a></li>
                    <li><a class="navbar-link scrollto" href="#/locator">Lokasi</a></li>
                    <li><a class="navbar-link scrollto" href="#/article">Artikel</a></li>
                    <li><a class="navbar-link scrollto" href="#/story">Kisah</a></li>
                    <li><a class="navbar-link scrollto" href="#/aboutus">Tentang Kami</a></li> 
                    <li><button id="signin" type="button" class="btn btn-light" onclick="location.href='#/signin'">Sign In</button></li>
                    <li><button id="signup" type="button" class="btn btn-dark" onclick="location.href='#/signup'">Sign Up</button></li>
                    <li><button id="logout" type="button" class="btn btn-danger">Log Out</button></li>
                </ul>
            </nav>
            <a id="hamburger" href="#" class="icon" aria-label="navigation-menu">☰</a>
        </div>        

    </header>

    <!--Main-->
    <main id="maincontent"></main>

    <!--Footer-->
    <footer>
        <ul>
            <li><a href="">Copyright &copy; 2021 - <strong><span>Sanctuary</span></strong></a></li>
            <li>Together we are strong</li>
        </ul>
    </footer>
</body>
</html>
