/*Footer*/
footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    border-top: 3px groove #C3B091;
    background-color: #6B4F4F;
}
  
footer > ul {
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
}
  
footer li {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

footer a {
    text-decoration: none;
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
} 