html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-image: url('../public/images/assets/bg.jpg');
}

a {
    text-decoration: none;
    color: #C3B091;
}

a:hover {
    color: #E4CDA7;
    text-decoration: none;
}

h1, h2, h3, p {
    font-family:'Zen Kaku Gothic New', sans-serif;
}

.logo {
    min-height: 44px;
    font-family: 'Lobster';
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#logout {
    margin: 0 15px;
    margin-left: 30px;
}

#signin {
    margin: 0 15px;
    margin-left: 30px;
    min-width: fit-content;
}

#signup {
    margin: 0 15px;
    min-width: fit-content;
}

/*--Main--*/
.feeds {
    padding: 0 1rem;
    margin-bottom: 10%;
}

section {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #99A799;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #533535;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
    font-size: 17px;
    color: #533535;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 5rem;
    margin-left: 5rem;
}


.title {
    text-align: center;
    margin-top: 3%;
}

.sub-title {
    text-align: center;
    margin-bottom: 2%;
}

#body {
    display: grid;
    margin-bottom: 27%;
}

.item-title {
    font-size: 25px;
}

.item > p {
    text-indent: 4%;
    overflow: hidden;
    font-size: 17px;
    text-overflow: ellipsis;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.item > a {
    color: #919191;
    font-size: large;
    text-decoration: underline;
}
.item > a:hover {
    color: #533535;
}

#writestory {
    padding: 1%;
    display: block;
}

/*Locator*/

/*Learn-more*/
.learn-more .content h3 {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 2rem;
    color: #533535;
}

.learn-more .content p {
    margin-left: 2rem;
}

.learn-more .content ul {
    list-style: none;
    padding: 0;
    margin-left: 2rem;
}
.learn-more .content ul li {
    padding-bottom: 10px;
    font-style: italic;
}
.learn-more .content ul i {
    font-size: 20px;
    color: #533535;
}
.learn-more .content p:last-child {
    margin-bottom: 0;
} 

.img-fluid {
    max-width: 100%;
    height: auto;
}

.learn-more .btn-go-to {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    color: #fff;
    background: #6B4F4F;
    text-transform: uppercase; 
    margin-top: 1rem;
    justify-content: center;
}

.learn-more .btn-go-to:hover {
    background: #533535;
}


/*their-stories*/
.their-stories .content h3 {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 2rem;
    color: #533535;
}

.their-stories .content p {
    margin-left: 2rem;
}

.their-stories .btn-go-to {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    color: #fff;
    background: #6B4F4F;
    text-transform: uppercase; 
    margin-top: 1rem;
    justify-content: center;
}

.their-stories .btn-go-to:hover {
    background: #533535;
}

/*Detail kisah dan artikel*/
.detail .card {
    margin-bottom: 2rem;
}

.card.full {
    padding: 5%;
    margin-bottom: 20%;
}

.card > h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #533535;
    text-align: center;
}

.full > h3 {
    margin: 0;
    margin-bottom: 3%;
}

.card > p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 2rem;
}

/*About Us*/

*, *:before, *:after {
    box-sizing: inherit;
  }

  
.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.322);
}

.card img {
    border-radius: 50%;
    margin-top: 2rem;
}
  
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #6b4f4f96;
    color: white;
}

.about-section > .sub-title {
    text-align: center;
    margin-bottom: 0;
}
  
h2 {
    margin: 2rem 0;
    color: #533535;
    text-align: center;
}

p {
    margin-bottom: 1rem;
}

.about-section .container {
    padding: 0 16px;
}
  
.about-section .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
.title {
    color: grey;
    padding-bottom: 2%;
}
  
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    margin-bottom: 1rem;
    color: #fff;
    background-color: #6B4F4F;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
  
.button:hover {
    background-color: #533535;
    color: #fff;
}

/*Sign in & Sign up page*/

#sign-form {
    background-color: rgba(255, 255, 255, 0.322);
    padding: 6%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
}

#sign-form > h4 {
    font-size: 20px;
}

.switch {
    margin: 3% 0;
    font-size: 20px;
    text-align: center;
}

#submitBtn {
    margin: 0 auto;
    margin-bottom: 3%;
    display: block;
    
}

.switch > a:hover {
    color: #533535;
}

.switch > a {
    color: #919191;
}

/*Write Story*/

#write-story {
    padding: 2%;
    margin: 0 5%;
    margin-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.322);
}
#write-story > input {
    margin: 2% 0;
}

.form-group {
    margin: 1% 0;
}

#beforeSubmit {
    margin: 0 5%;
    margin-bottom: 2%;
}
