@media (min-width: 992px) {
  .col-lg-6 {
      flex: 0 0 auto;
      width: 50%;
  }

  #content {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 6%;
  }
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  #content {
    grid-template-columns: repeat(1);
    padding-bottom: 6%;
  }
}

@media screen and (max-width: 992px) {
  #hero {
    height: calc(100vh - 70px);
  }
}

@media screen and (max-width: 768px) {
  #hero h1 {
    font-size: 30px;
    line-height: 36px;
  }
  
  #hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}


  