@media (min-width: 1390px) {
  #clear {
    margin: 0 20%;
  }

  #body {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 6%;
  }

  #team {
    margin: 0 20%;
    margin-bottom: 5%;
  }
}

@media (min-width: 992px) and (max-width: 1390px) {
  .col-lg-6 {
      flex: 0 0 auto;
      width: 50%;
  }

  #body {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 6%;
  }

  #clear {
    margin: 0 15%;
  }

  #team {
    margin: 0 17%;
    margin-bottom: 5%;
  }
}

@media (min-width: 1050px) and (max-width: 1200px) {
  #clear {
    margin: 0 7%;
  }
}

@media (min-width: 992px) and (max-width: 1050px) {
  #clear {
    margin: 0 5%;
  }

  #team {
    margin: 0 10%;
    margin-bottom: 5%;
  }
}

@media (max-width: 991px) {
  .navbar ul {
    display: none;
  }

  #body {
    grid-template-columns: repeat(1);
    gap: 2%;
    margin-bottom: 50%;
  }

  .detail > .card > p {
    font-size: 17px;
  }
}

@media screen and (min-width: 992px) {
  #hamburger {
    display: none;
  }

  #article-detail {
    margin-bottom: 30%;
  }

  #story-detail {
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 992px) {
  #hero {
    height: calc(100vh - 70px);
  }

  .logo > a {
    margin-left: 40%;
  }

  #clear {
    margin: 0 27vw;
  }

  #article-detail {
    margin-bottom: 30%;
  }

  #story-detail {
    margin-bottom: 20%;
  }

  #hamburger {
    padding: 20px;
  }

  nav.responsive .icon {
    position: absolute;
    padding: 44px;
    right: 0;
    top: 0;
  }

  nav.responsive ul{
    display: flex;
    flex-direction: column;
    background-color: #6B4F4F;
    text-align: center;
    padding: 30px 0;
    padding-right: 30px;
    margin-top: 20rem;
  }

  nav.responsive ul li {
    margin: 5px 0;
  }

  .row {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  #hero h1 {
    font-size: 30px;
    line-height: 36px;
  }
  
  #hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #body {
    margin-bottom: 70%;
  }

  #article-detail {
    margin-bottom: 50%;
  }

  #clear {
    margin: 0 20vw;
  }

  #team {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    margin-bottom: 5%;
  }

  .column {
    width: fit-content;
  }
}

@media screen and (max-width: 600px) {
  #clear {
    margin: 0 17vw;
  }

  #article-detail {
    margin-bottom: 45%;
  }
}

@media screen and (max-width: 550px) {
  #team {
    margin: 0 5%;
  }

  #clear {
    margin: 0 15vw;
  }
}

@media screen and (max-width: 500px) {
  .logo > a {
    font-size: 20px;
  }

  #clear {
    margin: 0 10vw;
  }

  nav.responsive ul{
    display: flex;
    flex-direction: column;
    background-color: #6B4F4F;
    text-align: center;
    padding: 30px 0;
    padding-right: 30px;
    margin-top: 31rem;
  }

  .title, .detail > .card > h3, .item > .item-title {
    font-size: 18px;
  }

  .sub-title, .detail > .card > p, .item > p, .item > a{
    font-size: 13px;
    margin: 0 2%;
  }

  #body {
    margin-bottom: 90%;
  }

  #story-detail {
    margin-bottom: 50%;
  }

  #article-detail {
    margin-bottom: 30%;
  }
}  
